@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(bg.jpg);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 500px;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    color: #ffff;
    font-size: 2rem;
    border-bottom: 4px solid rgba(255, 255, 255, 0.689);
    margin: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    border-radius: 15px;
    background-image: url(bg.jpg);
    background-blend-mode: lighten;
    padding: 20px 50px;

}

span {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.box {
    padding: 10px 25px;
    margin: 10px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.03);
    font-size: 1rem;
    transition: 0.3s;
}

.box:focus {
    width: 105%;
}

#submit {
    padding: 10px 25px;
    margin-top: 20px;
    width: 100%;
    background: #000957;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    transition: 0.3s;
    color: white;
}

#submit:hover {
    cursor: pointer;
    background-color: #000957;
    transform: scale(1.05, 1)
}

::placeholder {
    font-weight: 400;
    color: #222;
    opacity: 0.7;
}

p {
    color: #ffff;
    margin-top: 20px;
    font-size: 20px;
}

p a {
    text-decoration: none;
    color: #000957;
    font-weight: 800;


}

.logout_btn {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

.logout_btn a:hover {

    background-color: #d33547;
    color: #ffff;

}

.logout_btn a {
    display: flex;
    background-color: #B82132;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: #ffff;
    font-weight: 800;
    transition: 0.3s;

}

.main_login,.main_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

}

.error {
    display: flex;
    background-color: #B82132;
    color: #ffff;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.error span {
    color: #ffff;
    align-items: center;
    justify-content: center;
}